#img-bg{
    background-image: url('https://tecnico.ulisboa.pt/files/2020/12/cycleai-a-aplicacao-que-ira-ajudar-os-ciclistas-a-sentirem-se-mais-seguros-1140x641.jpg');

    
    }

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}